*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90% ;
}

#nav{
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7f7482;
}

#nav-left, #nav-right{
    display: flex;
    width: 30%;
    justify-content: start;
    height: 100%;
    align-items: center;
    padding-left: 1vw;
}

#nav-left h4, #nav-right h4{
    padding: 1vw 1vw 1vw 1vw;
}

#nav-right{
    justify-content: end;
    padding-right: 1vw;
}

#nav-left h4:hover, #nav-right h4:hover{
    cursor: pointer;
    font-size: 17px;
    font-weight: 800;
}

#brand{
    font-size: 2.5vw;
    font-weight: 500;
}

#left{
    margin-top: 30px;
    padding: 30px;
    grid-column: 1/2;
}

#left i{
    font-size: 35px;
    font-weight: 550;
}

#left h3{
    font-size: 45px;
    font-weight: 500;
    line-height: 1.5;
}

#button{
    width: fit-content;
    height: 8%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid rgb(29, 28, 28);
    border-radius: 30px;
}

#colors{
    font-size: 20px;
}

#red, #yellow{
    margin-left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E9B9B6;   
}

#yellow{
    background-color: #dc7e97;   
}

#yellow:hover, #red:hover{
    cursor: pointer;
}

#bottom{
    margin-top: 8%;
    font-size: 17px;
    font-weight: 500;
}

#right{
    margin-top: 30px;
    overflow: hidden;
    grid-column: 2/3;
    padding: 5px 150px 0px 5px;
    display: flex;
    position: relative;
}

#add-to-cart{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 44%;
    left: 72%;
    border-radius: 50%;
    background-color: #7f7482;
}

#add-to-cart p{
    height: 100%;
    position: absolute;
    left: 20%;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

#add-to-cart:hover{
    cursor: pointer;
    background-color:#55415a;
}

#add-to-cart p:hover{
    font-size: 17px;
    font-weight: 800;
    left: 15%;
}

#right img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: 0% 60%;
} 

#bottom_m, #button_m{
    display: none;
}

@media (max-width:600px){
    #main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 65% 25%;
    }

#left #button, #bottom, #nav-left, #nav-right, #right img{
    display: none;
}

#nav{
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1/2;
    background-color: #7f7482;
}

#brand{
    font-size: 5vw;
    font-weight: 600;
    padding-left: 5vw;
}

#left{
    margin-top: 0;
    padding: 5vw;
    grid-column: 1;
    grid-row: 2/3;
    background-image: url(./hero.jpg);
    background-position: -10vw -65vw;
}

#left i{
    font-size: 4vw;
    font-weight: 550;
}

#left h3{
    font-size: 3.5vw;
    font-weight: 550;
    line-height: 1.5;
}

#right{
    margin-top: 0;
    overflow: hidden;
    grid-column: 1;
    grid-row: 3/4;
    padding: 0;
    display: flex;
}

#button_m{
    width: 95%;
    left:2vw;
    height: 22%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 2px solid rgb(29, 28, 28);
    border-radius: 30px;
    position: absolute;
}

#colors{
    font-size: 4vw;
    font-weight: 600;
}

#add-to-cart{
    width: 95%;
    margin-left: 2vw;
    height: 22%;
    top: 30%;
    left: 0;
    border-radius: 30px;
    border: 2px solid black;
    background-color: #7f7482; 
    display: flex;
    justify-content: start;
}

#add-to-cart p{
    height: 100%;
    width: 100%;
    left: 0;
    font-size: 4vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
} 

#add-to-cart p:hover{
    cursor: pointer;
    font-size: 6vw;
    font-weight: 800;
    left: 0;
    background-color:#55415a;
}

#bottom_m{
    display: flex;
    width: 100%;
    height: 60%;
    margin-top: 22vw;
    font-size: 4vw;
    font-weight: 500;
    padding: 5vw;
}
}
